.single-book-card {
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.single-book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.single-book-card.selected {
  border: 3px solid red;
  box-shadow: 0px 8px 16px rgba(255, 0, 0, 0.4);
}
