/* CommentArea.css */

/* Stile generale per i bottoni */
.comment-area .btn {
  border-radius: 20px; /* Arrotondamento per tutti i bottoni */
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 8px; /* Spazio sopra ai bottoni */
}

/* Bottone Delete */
.comment-area .btn-delete {
  background-color: #ff4444 !important; /* Colore rosso per il bottone Delete */
  border: none;
  padding: 8px 16px;
  color: white;
}

.comment-area .btn-delete:hover {
  background-color: #ff6666 !important; /* Colore più chiaro al passaggio del mouse */
}

/* Bottone Submit */
.comment-area .btn-submit {
  background-color: #2b74af; /* Colore blu per il bottone Submit */
  border: none;
  padding: 10px 20px;
  color: white;
}

.comment-area .btn-submit:hover {
  background-color: #266497; /* Colore blu scuro al passaggio del mouse */
}

.comment-area {
  background-color: #f3f3f3; /* Grigio molto chiaro */
}
